


table {
    width: 100%;
    .malfunction {
      color: #b20000; 
      font-weight: bold;
    }
    th{
      background-color: #daf2f3;
      font-weight: bold;
    }

    .mat-column-flightNumber{
      width: 100px;
    }
    .mat-column-takeoffAirport, .mat-column-landingAirport {
      width: 350px;
      
    }
    .mat-column-takeoffTime , .mat-column-landingTime  {
      width: 200px;
    
        .delay {
         font-weight: bolder;
         margin-left: 20px;
        }
     
    }
    .mat-column-status{
      width: 100px;
      .mat-mdc-standard-chip {
        --mdc-chip-elevated-container-color:  #ffcccc;
        --mdc-chip-label-text-color: #b20000;
        font-size: bold;
      }
    }
  tr {
      height: 80px; 
      font-size: 1rem;
      color: #152d66;
    }
    tr:nth-child(odd){
      background-color: #f0f6f9;
  }
    
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }



  