
table {
    width: 100%;
    .malfunction {
      background-color: #ffcccc; 
      color: #b20000; 
      font-weight: bold;
    }

    .mat-column-flightNumber{
      width: 100px;
    }
    .mat-column-takeoffAirport, .mat-column-landingAirport {
      width: 350px;
      
    }
    .mat-column-takeoffTime , .mat-column-landingTime  {
      width: 200px;
     
        .delay-chip {
         background-color: rgba(252, 248, 2, 0.521);
        }
     
    }
    .mat-column-status{
      width: 100px;
    }
  }
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  